<div class="andar">
    <h2>ANDAR</h2>
    <input name="tel_pts" type="number" min="0" class="entrada" placeholder="Num de Pnts de Telecom" />
    <input name="cftv_pts" type="number" min="0" class="entrada" placeholder="Num de Pnts de CFTV" />
    <input name="voip_pts" type="number" min="0" class="entrada" placeholder="Num de Pnts de VOIP" />
    <button onclick="duplicar_andar($(this).parent().attr('id'))" class="entrada">
        DUPLICAR
    </button>
    <button onclick="$(this).parent().remove()">EXCLUIR</button>
</div>
