.glass-box { 
    border: black solid 1px;
    border-radius: 40px;
    padding: 40px;
    backdrop-filter: blur(6px);
    box-shadow: inset rgb(0, 0, 0) 7px -6px 8px;
    color: white;
    font-family: "Jersey 10", sans-serif;
}

.glass-box > h1 {
    font-size:8vh;
}