* {
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 96vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 2vw;
    display: grid;
    grid-template: 
        "a b" 6fr
        "c c" 1fr
     / 3fr 1fr
    ;
    gap: 10px;
}