#projects { 
    display: grid;
    grid-template: 
        "a a a" 10%
        "a a a"
        "a a a"
    
    ;
}

.project{
    width: 22%;
    height: 28%;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border: none;
    color: black;
    border-radius: 10px;
    font-family: "Jersey 10", sans-serif;
    font-size: 3vh;

    transition: width 0.5s linear;
}