<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Styles/grid.css">
    <link rel="stylesheet" href="Styles/projects.css">
    <link rel="stylesheet" href="Styles/profile.css">
    <link rel="stylesheet" href="Styles/background.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <div id="projects">
        <p>area de projetos</p>
    </div>
    <div id="profile">
        <p>area do perfil</p>
    </div>
</body>
</html>